build/
site/
*-artifacts/
*.egg-info/
dist/
env_file*
*/export/
export/
**/build/
**/site/
**/dist/
**/*.egg-info/
**/env_file*
**/env.yml
**/node_modules/
node_modules/
**/package-lock.json
package-lock.json
**/__pycache__/
__pycache__/
pdf
mermaid*
compose/
